@import "./variables";

.nav {
  @include FlexAlignCenter;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 15px;

  max-width: $--container-width;
  height: 5rem;

  background: $--black;

  &__item {
    &--seperator {
      height: 16px;
      display: inline-block;
      margin: auto 17px;
      border-right: 1px solid $--white;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    height: 6rem;
    width: 8rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration-line: none;
      color: $--white;

      &:hover {
        color: $--main-green;
        cursor: pointer;
      }
    }

    li {
      padding: 1rem;
      color: $--white;
      list-style-type: none;
      font-family: $--main-Font;
      font-size: 1rem;

      // SEPERATOR
      &:nth-child(4) {
        padding: 0;
      }
    }
  }

  // burger menu
  &__menu {
    display: none;
  }
}
